/* header css */
.top-header {
  background-color: black;
  font-size: 12px;
}

.top-header a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}

.bottom-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.swiper-slide:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(70, 0, 0, 80%);
}

.swiper-content {
  z-index: 1;
  color: #fff;
  text-align: center;
  max-width: 700px;
  padding: 0 50px;
  margin: 0 auto;
}

.swiper-content h1 {
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 30px;
}

.swiper-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
}

.tiles-section {
  padding: 80px 0;
  background-color: #f7f7f7;
}

.tiles-wrapper {
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding: 40px 20px 20px;
  background-color: #fff;
}

.about-block {
  padding: 80px 0;
}

.about-block h2 {
  font-size: 36px;
  font-weight: 700;
}

.tiles-wrapper h5 {
  margin-bottom: 15px;
}

.tiles-wrapper p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #707070;
}

.tiles-wrapper .read-more {
  color: #333;
  font-size: 14px;
}

.tiles-wrapper .icon-wrapper {
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  background: #c31e7a;
  position: absolute;
  left: 20px;
  top: -25px;
  font-size: 22px;
  background: linear-gradient(90deg, rgba(195, 30, 122, 1) 45%, rgba(246, 37, 69, 1) 75%);
}

.about-block .content-block {
  padding: 50px 0;
}

.about-block .content-block .link-block {
  color: #c31e7a;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
}

.about-block .content-block h2 {
  margin-bottom: 20px;
}

.about-block .content-block p {
  font-size: 13px;
  color: #707070;
  line-height: 20px;
  margin-bottom: 20px;
}

.about-block .image-block {
  height: 100%;
}

.custom-listing li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.custom-listing li::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 3px;
  border: 2px solid #c31e7a;
  display: inline-block;
  border-radius: 100%;
  height: 8px;
  width: 8px;
}

.count-section {
  padding: 50px 0;
  background-color: #141318;
}

.count-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-block i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #c31e7a;
}

.count-block .count {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.count-block p {
  font-size: 13px;
  color: #fff;
}

.subscription {
  padding: 50px 0;
  background-color: #fa2543;
}

.subscription h2 {
  color: #fff;
}

.subscription .input-wrapper input {
  height: 45px;
  width: 350px;
  border: none;
  padding: 15px;
  font-size: 14px;
  padding-right: 80px;
}

.subscription .input-wrapper button {
  margin-left: -80px;
}

.top-footer {
  padding: 80px 0;
  background-color: #232227;
  color: #fff;
}

.footer-title {
  font-weight: 600;
  margin: 20px 0;
}

.top-footer .content {
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
  padding-right: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 600;
  background-image: none;
  margin: 5px 0;
  top: 46%;
  height: 20px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  background-color: #aaa;
  height: 3px;
  width: 18px;
  border-radius: 0;
  margin: 0 4px 10px !important;
}